@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Stili per la paginazione Swiper */
.custom-pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.custom-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #4b5563;
  opacity: 0.5;
  border-radius: 50%;
  cursor: pointer;
}

.custom-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #eab308;
}

/* Stili per le frecce di navigazione */
.custom-prev-button,
.custom-next-button {
  cursor: pointer;
}

.custom-prev-button.swiper-button-disabled,
.custom-next-button.swiper-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
